<!DOCTYPE html>
<html lang="en">
<head>

     <title>Fitness Forum</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-fitness forum-style.css">
<!--
Tooplate 2119 fitness forum Fitness
https://www.tooplate.com/view/2119-fitness forum-fitness
-->
</head>

<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/home">Fitness Forum</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/home" class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="/#about" class="nav-link smoothScroll">About Us</a>
                    </li>

                    
                        <li class="nav-item dropdown">
                            <a class="nav-link smoothScroll dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Programmes 
                            </a>
                            <div class="nav-droplink dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-droplink smoothScroll dropdown-item" href="/aerobics">Aerobics</a>
                                <a class="nav-droplink smoothScroll dropdown-item" href="/core-strength">Core Strength</a>
                                <a class="nav-droplink smoothScroll dropdown-item" href="/functional-training">Fuctional Training</a>
                                <a class="nav-droplink smoothScroll dropdown-item" href="/hiit">HIIT</a>
                                
                                <a class="nav-droplink smoothScroll dropdown-item" href="/virtual-training">Virtual Training</a>
                            </div>
                          </li>
                    

                    <!-- <li class="nav-item">
                        <a href="/#schedule" class="nav-link smoothScroll">Schedules</a>
                    </li> -->

                    <li class="nav-item">
                        <a href="/contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://www.facebook.com/FitnessForumHyd/" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/FitnessForumHyd?s=08" class="fa fa-twitter"></a></li>
                    <li><a href="https://instagram.com/fitness_forum_the_gym?igshid=12lsb3uq9u9le" class="fa fa-instagram"></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=919100944016" class="fa fa-whatsapp"></a></li>
                </ul>
            </div>

        </div>
    </nav>