<%- include("../views/partials/header"); %>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

     <div class="bg-overlay"></div>
 
        <div class="container">
             <div class="row">
 
                  <div class="col-lg-8 col-md-10 mx-auto col-12">
                       <div class="hero-text mt-5 text-center">
 
                             <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>
 
                             <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Fitness Forum</h1>
 
                             <a href="/#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>
 
                             <a href="/#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>
 
                       </div>
                  </div>
 
             </div>
        </div>
 </section>

<section class="aerobics">
     <div class ="container">
          <div class ="row">
               <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white">Aerobics</h2><br>
                    <p class="text-white">Aerobic fitness can be defined as the ability of the body’s cardiovascular and muscular systems to provide the necessary energy to sustain activity that uses the large muscle groups over an extended period of time. To reach aerobic fitness, a person must engage in continuous activity like jogging, walking, cycling, stair climbing, rowing, or swimming at an intensity level you can maintain for at least 30 minutes, three to seven days per week.</p><br>
                    <h3 class="mb-3 text-white">Why Aerobics?</h2><br>
                         <p class="text-white">Benefits of Aerobics:</p>
         <ul> 
              <li class="text-white">Increases the efficiency of respiration</li> 
               <li class="text-white">Improves blood volume, distribution, and delivery to muscles</li>
                    <li class="text-white">Improves cardiovascular efficiency</li> 
                         <li class="text-white">Increases cardiac output, or the volume of blood pumped by the heart each minute</li>
                              <li class="text-white">Decreases resting heart rate</li>
                                   <li class="text-white">Improves the condition and efficiency of breathing muscles</li>
                                        <li class="text-white">Improves the efficiency of movement</li>
                                        </ul> 

               </div>
               
               <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <img src="images/class/Aerobics.jpeg" width="1200px" height="600px" alt="Aerobics.jpeg">
               </div>
               
          </div>
     </div>
     
</section> 
 
 


<%- include("../views/partials/footer"); %>