<%- include("../views/partials/header"); %>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

     <div class="bg-overlay"></div>
 
        <div class="container">
             <div class="row">
 
                  <div class="col-lg-8 col-md-10 mx-auto col-12">
                       <div class="hero-text mt-5 text-center">
 
                             <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>
 
                             <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Fitness Forum</h1>
 
                             <a href="/#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>
 
                             <a href="/#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>
 
                       </div>
                  </div>
 
             </div>
        </div>
 </section>

<section class="aerobics">
     <div class ="container">
          <div class ="row">
               <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white">Core Strength</h2><br>
                    <p class="text-white">Core exercises train the muscles in your pelvis, lower back, hips and abdomen to work in harmony. This leads to better balance and stability, whether on the playing field or in daily activities. In fact, most sports and other physical activities depend on stable core muscles.</p>
                    <h3 class="mb-3 text-white">Why Core Strength?</h2><br>
                         <p class="text-white">Benefits of Core Strength:</p>
         <ul> 
              <li class="text-white">Tightens the abdominal structures involved in movement and improves the transfer of power to and from the extremities</li> 
               <li class="text-white">Teaches the muscles to work together efficiently and effectively</li>
                    <li class="text-white">Aids in the prevention of injury</li> 
                         <li class="text-white">Strengthens and improves the torso’s stabilization</li>
                              <li class="text-white">Can improve respiratory function</li>
                                   <li class="text-white">Improves spinal and postural control while the body is still and in motion</li>
                                        <li class="text-white">Tightens and flattens the tummy</li>
                                        </ul> 
               </div>
               
               <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <img class="img-responsive" src="images/class/Core-Strength.jpeg" alt="Core-Strength.jpeg">
               </div>
               
          </div>
     </div>
     
</section> 
 
 


<%- include("../views/partials/footer"); %>