<%- include("../views/partials/header"); %>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

     <div class="bg-overlay"></div>
 
        <div class="container">
             <div class="row">
 
                  <div class="col-lg-8 col-md-10 mx-auto col-12">
                       <div class="hero-text mt-5 text-center">
 
                             <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>
 
                             <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Fitness Forum</h1>
 
                             <a href="/#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>
 
                             <a href="/#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>
 
                       </div>
                  </div>
 
             </div>
        </div>
 </section>

<section class="aerobics">
     <div class ="container">
          <div class ="row">
               <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white">Functional Training</h2><br>
                    <p class="text-white">Functional fitness exercises are designed to train and develop your muscles to make it easier and safer to perform everyday activities, such as carrying groceries or playing a game of basketball with your kids. And it is beneficial as part of a comprehensive program for older adults to improve balance, ability and muscle strength, and reduce the risk of falls. For example, a functional exercise might involve the elbows, shoulders, spine, hips, knees and ankles.</p> <br> 
                    <h3 class="mb-3 text-white">Why Functional Training?</h2><br>
                         <p class="text-white">Benefits of Functional Training:</p>
         <ul> 
              <li class="text-white">Improves posture</li> 
               <li class="text-white">Increases range of motion</li>
                    <li class="text-white">Great for flexibility</li> 
                         <li class="text-white">Provides stress relief</li>
                              <li class="text-white">Burns fat</li>
                                   <li class="text-white">Helps muscles recover faster after injuries</li>
                                        <li class="text-white">Enriches athletic performance</li>
                                        </ul>

               </div>
               
               <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <img class="img-responsive" src="images/class/Functional-Training.jpeg" alt="Functional-Training.jpeg">
               </div>
               
          </div>
     </div>
     
</section> 
 
 


<%- include("../views/partials/footer"); %>