<%- include("../views/partials/header"); %>

<!-- HERO -->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

     <div class="bg-overlay"></div>
 
        <div class="container">
             <div class="row">
 
                  <div class="col-lg-8 col-md-10 mx-auto col-12">
                       <div class="hero-text mt-5 text-center">
 
                             <h6 data-aos="fade-up" data-aos-delay="300">new way to build a healthy lifestyle!</h6>
 
                             <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Fitness Forum</h1>
 
                             <a href="/#feature" class="btn custom-btn mt-3" data-aos="fade-up" data-aos-delay="600">Get started</a>
 
                             <a href="/#about" class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">learn more</a>
 
                       </div>
                  </div>
 
             </div>
        </div>
 </section>

<section class="aerobics">
     <div class ="container">
          <div class ="row">
               <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                    <h2 class="mb-3 text-white">HIIT</h2><br>
                    <p class="text-white">High-intensity interval training (HIIT), also called high-intensity intermittent exercise (HIIE) or sprint interval training (SIT), is a form of interval training, a cardiovascular exercise strategy alternating short periods of intense anaerobic exercise with less intense recovery periods, until too exhausted to continue. A common formula involves a 2:1 ratio of work to recovery periods, for example, 30–40 seconds of hard sprinting alternated with 15–20 seconds of jogging or walking, repeated to failure.</p><br>
                    <h3 class="mb-3 text-white">Why HIIT?</h2><br>
                    <p class="text-white">Benefits of HIIT:</p>
    <ul> 
         <li class="text-white">Losing body fat</li> 
          <li class="text-white">Strengthening the cardiovascular system</li>
               <li class="text-white">Developing sport-specific energy systems</li> 
                    <li class="text-white">Developing “work capacity” (i.e. the ability to tolerate a high level of intensity for a longer period)</li>
                         <li class="text-white">Improving fat and carbohydrate oxidation in skeletal muscle</li>
                              <li class="text-white">Developing “mental toughness”</li>
                                   <li class="text-white">Challenging the fast twitch muscle fibres — the fibres that are great for strength and power</li>
                                   </ul> 


               </div>
               
               <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                    <img class="img-responsive" src="images/class/HIIT.jpeg" alt="HIIT.jpeg">
               </div>
               
          </div>
     </div>
     
</section> 
 
 


<%- include("../views/partials/footer"); %>